.fontNew-en {
    font-family: 'Fjalla One', sans-serif;
}
.fontNew-ru{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}
.coef{
    text-shadow: 1px 2px 3px rgb(221, 255, 0);
}

.logo_shadow{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.info_light{
    text-shadow: 4px 4px 4px rgba(0, 140, 255, 0.37);
}